@charset "UTF-8";

/*RESET*/
html {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:separate;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal;}
em,strong{}
ol,ul {list-style:none;}
caption {text-align:center;}


h1,h2,h3,h4 {font-size:100%; margin:0; padding:0; font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/*MAIN*/
body {font-size:13px; color:#555; font-family:arial,sans-serif; background-color:#000;}
a {color:#555; outline:none; text-decoration:none;}
a:hover {color:#333;}
img {border: none; vertical-align:top;}
p {padding:0;}
.cl {clear:both; line-height:0;}
.fl {float:left;}
.fr {float:right;}
.jnotif {position:fixed; top:0; left:50%; width:300px; text-align:center; padding:20px; margin:0 0 0 -170px; border-radius:0 0 5px 5px;}
#jerror {background-color:#cd3c3c; color:#FFF;}
#jsuccess {background-color:#8dc73f; color:#FFF;}
.noResults {background-color:#eef4f5; font-size:14px; padding:20px; border-bottom:solid 1px #BAD4E3; text-align:center;}

h1 {font-size:50px;}
h2 {font-size:18px;}
h3 {font-size:14px;}
h4 {font-size:14px;}

/*BUILD*/
.headerW {background:transparent url(../images/header_bg.jpg) scroll repeat-x 0 0;}
.header {position:relative; height:150px; width:960px; margin:0 auto;}
.logo {position:absolute; top:25px; left:20px;}
.logoFooter {position:absolute; top:-32px; left:50%; margin:0 0 0 -26px;}

ul.lang {position:absolute; top:10px; right:0;}
ul.lang li {float:left; padding:0 0 0 10px; margin:0 0 0 10px; border-left:solid 1px #FFF;}
ul.lang li.first {border:none;}
ul.lang li a {font-family:"Georgia", sans-serif; color:#fff200;}
ul.lang li a.active {color:#FFF;}

ul.mainNav {overflow:hidden; position:absolute; right:0; bottom:9px;}
ul.mainNav li {float:left; margin-left:2px;}
ul.mainNav li a {font-weight:bold; text-transform:uppercase; color:#FFF; font-size:12px; font-family:"Georgia", sans-serif; display:block; width:108px; text-align:center; line-height:37px; background:transparent url(../images/mainNav_bg.png) scroll no-repeat 100% 0;}
ul.mainNav a.home:hover, ul.mainNav a.home.active {background-position:0 0;}
ul.mainNav a.studio:hover, ul.mainNav a.studio.active {background-position:-108px 0;}
ul.mainNav a.work:hover, ul.mainNav a.work.active {background-position:-216px 0;}
ul.mainNav a.news:hover, ul.mainNav a.news.active {background-position:-324px 0;}
ul.mainNav a.download:hover, ul.mainNav a.download.active {background-position:-432px 0;}
ul.mainNav a.contact:hover, ul.mainNav a.contact.active {background-position:-540px 0;}

.contentW {background-color:#FFF;}
.content {width:960px; margin:0 auto; overflow:hidden;}

.bottomW {background-color:#c7dff4; padding:10px 0; border-bottom:solid 10px #3d85c6;}
.bottom {width:960px; margin:0 auto;}

.footer {position:relative; background:transparent url(../images/footer_bg.png) scroll no-repeat 50% 0; height:100px; padding:35px 0 0; text-align:center; color:#6dcff6;}
.footer p {margin-bottom:20px;}

.fb, .tw, .yt {width:30px; height:30px; display:inline-block; background-image:url(../images/socIcons.png);}
.fb {background-position:0 0;}
.fb:hover {background-position:0 -30px;}
.tw {background-position:-30px 0;}
.tw:hover {background-position:-30px -30px;}
.yt {background-position:-60px 0;}
.yt:hover {background-position:-60px -30px;}

.quotes {overflow:hidden; font-family:"Georgia", sans-serif;}
.quoteText {font-style:italic; padding:25px 0 25px 50px; width:430px; float:left; background:#b6d7f1 url(../images/quotes.png) scroll no-repeat 10px 10px; height:180px;}
.quoteText h2 {color:#FFF;}
.quoteText p {padding:0 50px 20px 0; background:#b6d7f1 url(../images/quotes1.png) scroll no-repeat 100% 100%;}
.quoteIcons {padding:20px 0; text-align:center; width:480px; height:190px; float:right; background:transparent url(../images/quotes_bg.png) scroll no-repeat 0 50%;}
.quoteIcons h2 {color:#FFF;}

ul.clientsLogos {overflow:hidden; border:dashed 1px #FFF; border-left:none; border-right:none; margin:10px 10px 0 30px;}
ul.clientsLogos li {float:left;}
ul.clientsLogos li a {display:block; overflow:hidden; width:88px; height:90px; margin:20px 0; position:relative;}
ul.clientsLogos li a:hover img, ul.clientsLogos li a.active img {position:absolute; bottom:0; left:0;}

.homeContent {position:relative; font-family:"Georgia", sans-serif; padding:20px 0; border-top:dotted 1px #CCC; overflow:hidden;}
.homeContent p {padding:10px 0;}
.homeContent h1 {color:#92278f; line-height:50px; padding:0 0 20px;}
.homeContent .homeText {width:480px; padding:0 0 30px; float:left;}
.homeContent img {float:right; padding:20px 0;}


ul.latestProjects {overflow:hidden; padding:20px 0 15px;}
ul.latestProjects li {float:left; margin:0 13px 0 0; padding:10px; position:relative; background-image: url(../images/mask.jpg);}
ul.latestProjects li span {display:none; position:absolute; bottom:10px; left:10px; width:190px; padding:15px 10px; background-image: url(../images/mask1.png);}
ul.latestProjects li a {color:#FFF; font-family:"Georgia", sans-serif; font-weight:bold;}
ul.latestProjects li a:hover span {display:block;}
ul.latestProjects li.last {margin:0;}

.contentAll {padding:20px 0 15px; border-top:dotted 1px #CCC;}
.contentAll > span {text-align:center; display:block;}
.contentAll h2 {font-size:31px;  line-height:35px; font-family:"Georgia", sans-serif;}

.colHome h2 {color:#92278f;}
.colStudio h2 {color:#8dc63f;}
.colDownloads h2 {color:#e30613;}
.colWork h2 {color:#f39200;}
.colNews h2 {color:#b3a400;}
.colContact h2 {color:#966a39;}

#studio {position:relative; padding:20px 0 15px;}
#studio h3 {font-family:"Georgia", sans-serif; cursor:pointer; color:#FFF; line-height:40px; padding:0 10px 10px; background:transparent url(../images/studioBg1.png) scroll repeat-x 0 0;}
#studio span.on {float:right; display:none; background:transparent url(../images/studioOn.png) scroll no-repeat 100% 50%; padding:0 40px 0 0;}
#studio span.off {float:right; background:transparent url(../images/studioOff.png) scroll no-repeat 100% 50%; padding:0 40px 0 0;}
#studio h3.ui-state-active  {background:transparent url(../images/studioBg2.png) scroll repeat-x 0 0;}
#studio h3.ui-state-active span.on {display:block;}
#studio h3.ui-state-active span.off {display:none;}
#studio div {position:relative; margin:0 0 20px; border-bottom:dotted 1px #CCC; padding:0 5px 10px; overflow:hidden;}
#studio div span.img {float:right; width:475px; text-align:center;}
#studio div span.txt {float:left; width:475px;}
.colStudio p {padding:10px 0;}

ul.downloads {overflow:hidden; padding:20px 0 5px; margin:0 0 10px; border-bottom:dotted 1px #CCC;}
ul.downloads li {float:left; margin:0 10px 10px 0; padding:10px; position:relative; background-image: url(../images/mask.jpg);}
ul.downloads li span {display:none; color:#FFF; position:absolute; bottom:10px; left:10px; width:273px; padding:15px 10px; background-image: url(../images/mask1.png);}
ul.downloads li a {color:#FFF;}
ul.downloads li:hover span {display:block; text-align:center;}
ul.downloads li.last {margin:0;}

.workSidebar {width:280px; float:left;}
.workContent {width:660px; float:right; padding:0 0 100px;}
.workContent h3 {font-family:"Georgia", sans-serif; cursor:pointer; color:#f39200; font-size:24px;}
.workContent p {padding:5px 0; font-family:"Georgia", sans-serif;}
.workContent h3 a {font-size:13px; background-color:#f39200; padding:0 15px; line-height:29px; display:block; color:#FFF; border-radius:5px;}
.workContent a:hover {background-color:#f6ad3f;}

ul.clientsList {padding:20px 0; overflow:hidden;}
ul.clientsList li {padding:0 0 5px;}
ul.clientsList li a {font-family:"Georgia", sans-serif;}
ul.clientsList li a:hover, ul.clientsList li a.active {color:#f39200;}

ul.news {padding:20px 0; overflow:hidden; border-bottom:dotted 1px #CCC;}
ul.news li {float:left; margin:0 10px 0 0; width:313px;}
ul.news li.last {margin:0;}
ul.news li .newsImg {padding:10px; background-image: url(../images/mask.jpg);}
ul.news li .newsText {padding:20px 10px 0 60px; position:relative;}
ul.news li h4 {font-family:"Georgia", sans-serif; color:#b3a400; font-size:16px;}
ul.news li p {padding:5px 0; font-family:"Georgia", sans-serif;}
ul.news li .newsDate {line-height:15px; font-family:"Georgia", sans-serif; color:#FFF; position:absolute; top:10px; left:0; text-align:center; width:45px; padding:5px 5px 5px 0; background:transparent url(../images/news_bg.png) scroll no-repeat 0 50%;}
ul.news li .newsDate span {display:block; font-size:22px;}

ul.contact {padding:20px 0; margin:0 0 10px; overflow:hidden; border-bottom:dotted 1px #CCC;}
ul.contact > li {float:left; position:relative; margin:0 10px 0 0; width:295px; font-family:"Georgia", sans-serif;}
ul.contact > li.last {margin:0; width:auto;}
ul.contact > li p {padding:5px 0;}
ul.contact > li span {position:absolute; left:-10px; margin:5px 0 0; color:#3d85c6;}
ul.contact > li .contactMap {padding:10px; background-image: url(../images/mask.jpg);}
ul.contact input[type=text] {font-size:13px; font-family:"Georgia", sans-serif; color:#999; border:solid 1px #71a6d5; width:285px; padding:3px; margin:0 0 10px;}
ul.contact textarea {font-size:13px; font-family:"Georgia", sans-serif; color:#999; border:solid 1px #71a6d5; width:285px; max-width:285px; padding:3px; margin:0 0 10px;}
ul.contact input[type=text]:focus, ul.contact textarea:focus {border-color:#3d85c6; color:#444;}
ul.contact input[type=submit] {font-family:"Georgia", sans-serif; cursor:pointer; border:none;font-size:13px; background-color:#3793cf;  padding:5px 15px; color:#FFF; border-radius:5px;}
ul.contact input[type=submit]:hover {background-color:#2dafe8;}

.banner {padding:10px 0 30px;}
.banner #slides {position:relative; padding:10px;  background-image: url(../images/mask.jpg);}
.banner .slides_container {width:940px; height:280px;} 
.banner .slides_container p {padding:10px 0; color:#FFF;}
.banner .slides_container .slide {width:940px; height:280px; display:block;}
.banner .slides_container .desc {padding:0 20px; position:absolute; right:0; bottom:0; width:900px; background-image:url(../images/mask.png);}

.workBanner {padding:0 0 30px; margin:0 0 10px; border-bottom:dotted 1px #CCC;}
.workBanner #slides {position:relative; padding:10px;  background-image: url(../images/mask.jpg);}
.workBanner .slides_container {width:640px; height:430px;} 
.workBanner .slides_container p {padding:10px 0; color:#FFF;}
.workBanner .slides_container .slide {width:640px; height:430px; display:block;}
.workBanner .slides_container .desc {padding:0 20px; position:absolute; right:0; bottom:0; width:900px; background-image:url(../images/mask.png);}

.pagination {position:absolute; right:50%; bottom:-28px;}
.pagination li {float:left;}
.pagination li a {background:transparent url("../images/pagination.png") scroll no-repeat 0 0; display:block; float:left; height:0; overflow:hidden; padding-top:22px; width:19px;}
.pagination li.current a {background-position:0 -22px;}

.pagin {text-align:center; padding:15px 0 0; font-family:"Georgia", sans-serif;}
.pagin a {padding:0 5px; display:inline-block; line-height:20px; background-color:#b3a400; color:#FFF;}
.pagin b {padding:0 5px; display:inline-block; line-height:20px;}
.pagin .first, .pagin .last {background-color:transparent; color:#b3a400;}

.warning {border-color:#af0a10 !important; background-color:#ff9c9f; color:#FFF !important;}

.msg {padding:10px 0; text-align:center; color:#FFF; margin:0 0 10px; }
.success {background-color:#66b122;}